html, body {height: auto;}

.navbar {
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.16);
	background-color: #f1f1f1;
	
}
.navbar-header {
	margin-left: 10px;
}

.vertical-nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
}
.vertical-nav a {
    text-decoration: none !important;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

li a.active {
    background-color: #000000;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}